.carousel {
  position: absolute;
  inset: 0;
}

.image {
  object-fit: cover;
  transition: opacity 1.2s ease-in-out;
}

.mobileOnly {
  display: none;
}

@media (max-width: 700px) {
  .desktopOnly {
    display: none;
  }

  .mobileOnly {
    display: block;
  }
}
