.link {
  display: block;
}

.bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.text {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
}
