.list {
  background-color: #fff;
  max-width: 1250px;
  margin: 0 auto;
  padding: 80px 32px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.empty {
  text-align: center;
  color: var(--color-blue);
  font-size: 20px;
  padding: 40px 0;
}

@media (max-width: 700px) {
  .list {
    padding: 48px 20px;
    gap: 48px;
  }
}
