.listSection {
  background-color: #fff;
  margin-top: -90px;
  padding: 150px 32px 160px;
}

.list {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.empty {
  text-align: center;
  color: var(--color-blue);
  font-size: 20px;
  padding: 40px 0;
}

@media (max-width: 700px) {
  .listSection {
    padding: 40px 20px 140px;
    margin-top: -50px;
  }

  .list {
    gap: 48px;
  }
}
